/* This sets the background color for the website */
body {
  background-color: #B0C4DE;
}
/* This styles the profile picture */
.profile {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}
/* This styles the paragraphs for the website */
p, .text-profile {
  display: flex;
  align-items: center;
  margin: 20px;
  color: #000000;
}
/* This styles the navbar for the website */
.navbar {
  background-color: #000000;
  overflow: hidden;
}
/* This styles the navbar links for the website */

.navbar a{
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Hover effect for the links */
.navbar a:hover {
  background-color: #808080;
  color: #000000;
}
.navbar a.active{
  background-color: #404040
  color: #FFFFFF
}
/* This styles images */
img {
  display:block;
  border: 3px solid #000000;
  margin-left:auto;
  margin-right:auto;
}
